<h1>Burger Time!</h1>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-primary" id="burgerAvailable">
                            {{this.burger_name}}</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>

            <div class="col-lg-6">
                {{#each burgers}}
                {{#if this.devoured}}
                <div class="burgerDevoured">
                    <div>
                        {{this.burger_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>

<h2>Add Your Favorite Burger</h2>

<div class="row">
    <div class="col-lg-12">
        <form action="/burgers" method="POST">
            <input type="text" id="name" name="burger_name" placeholder="Burgerlicious">
            <button type="submit" class="btn btn-danger">Add Burger</button>
        </form>
    </div>
</div>