* {
    box-sizing: border-box;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

.img-responsive {
    background-image: url("../img/burger.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}